<!DOCTYPE html>
<html>
  <body>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      user: <input type="text" name="user" /> 用户名使用英文, 不要有空格和标点符号 <br />
      email: <input type="text" name="email" /> <br />
      your cif file:<input type="file" name="cif" /> <br />
      calculation parameters: <br />
      molecule:
      <select name="molecule">
        <option value="methane">methane</option>
        <option value="ethane">ethane</option>
        <option value="propane">propane</option>
      </select>
      temperature(K):
      <input type="text" name="temperature" value="273.15" /> 
      pressure(Pa):
      <input type="text" name="pressure" value="101325.0" /> <br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
